<nav>
    <div id="dark-mode-button-placeholder">
        <div class="MODE">MODE</div>
    </div>
    <div class="nav-menu">
        <div><a style="margin-left: 60px; color: transparent;"  href="/jess">Jess</a></div>
        <div><a style="margin-left: 60px;" href="/home">Home</a></div>
        <div><a style="margin-left: 60px;" href="/contact">Contact</a></div>
        <div><a style="margin-left: 60px;" href="">Nowhere</a></div>
    </div>
    <div class="small-screen">
        <button id="small-burger" class="small-burger"><i class="fas fa-bars"></i></button>
        <label for="small-burger">MENU</label>
        <div class="dropdown-small">
            <div><a style="" href="/home">Home</a></div>
            <div><a style="" href="/contact">Contact</a></div>
            <div><a style="" href="">Nowhere</a></div>
        </div>
    </div>
    <div class="large-burger">
        <label for="burger-menu"> CODE </label>
        <button id="burger-menu" class="burger-menu"><i class="fas fa-bars"></i></button>
        <div class="dropdown">
            <div><a href="/coming-soon" style="">Proj 1</a></div>
            <div><a href="/coming-soon">Proj 2</a></div>
            <div><a href="/jess">Proj 3</a></div>
    </div>
    </div>
</nav>
