@import "colors.css";

.dropdown {
    display: inline-block;
    position: absolute;
    flex-direction: column;
    background: #1F1E1C;
    color: white;
    position: absolute;
    visibility: hidden;
    right: 0%;
    top: 70px;
    z-index: 1001;
    border-radius: 20px;
    border: 1px solid white;
    white-space: nowrap;
}

.large-burger {
    position: absolute;
    width: 30px;
    right: 8px;
}

.large-burger label {
    position: absolute;
    margin-top: -10px;
    right: 50px;
    color: var(--idle);
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -7px;
}

.dropdown-small {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #1F1E1C;
    color: white;
    position: absolute;
    visibility: hidden;
    top: 70px;
    left: -35px;
    z-index: 1001;
    border-radius: 10px;
    border: 1px solid white;
}

/* Smartphone */
@media screen and (max-width: 980px) {
    .large-burger label {
        display: flex;
        position: absolute;
        margin-top: -7px;
        margin-right: -12px;
        letter-spacing: -5px;
    }
}
