:root {
    --fsek: rgba(235, 113, 37, 0.7);
    --dark: #100D05;
    --light: #333;
    --idle: #CCC;
    --selected: #fff;
    --test: #1F1E1C;
}

.rainbow {
        background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
