{% extends "base.html" %}

{% block base %}
{% load static %}

<body>

<div style="text-align: center;">
    <br> </br>
    <h1 style="color: violet;"> Welcome to the Valentines Quiz! <h1>
    <br> </br>
    <h2> 1) Your first task is to sort these numbers from largest to smallest: <h2>
    132, 616, 272

    <h2> 2) Now add the digit 4 to the start to find the desired number. <h2>
    <h2> 3) The number needs to be re-written on the following format (no spaces). <h2>
    XX . XXX . XX . XXX
    <h2> 4) On a scale from 1 to 10, I would say that my love for sauce is &lt;3.
        <br> a) It would sound better if the scale was from A to J instead.
        <br> b) And what if: to = &lt;3. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </br>
        </br>
    </h2>
    <h2> 5) Why don't you try typing your anser from 3) and 4) in the browser with :6969/ inbetween just because it looks cool? <h2>
</div>

<style>
    body {
        margin-bottom: 150px;
    }
    h2 {
        margin-bottom: 50px;
    }
    @media screen and (max-width: 980px) {
        body {
            margin-bottom: 570px;
        }
    }

</style>

</body>

{% endblock %}
