<!doctype html>
{% extends "base.html" %}

{% block base %}
{% load static %}

<body>

<ul>
    <h2 class="rainbow" style="font-size: 3em;"> TODO </h2>
    <li style="text-decoration: line-through;"> Valentines </li>
    <li style=""> Lägg till kod-project </li>
    <li style=""> Gör om designen så knapparna under är en del av main window</li>
    <li style=""> Fixa domännamn </li>
    <li style=""> Fixa för mobil </li>
    <li style=""> Ändra px margins till vh viewport height </li>
    <li style=""> Dubbelklicka på Nowhere för att hitta easteregg. </li>
    <li style=""> Lägg till video som autospelas med en techy miljö i bakgrunden där en modellerad avatar av Anton sitter vid en dator och kodar. Videon loopas och är som en välkomstskärm.
        <br> &emsp;- blender</br></li style="">
    <li style=""> Lägg till språkknapp som översätter sidan till engelska/svenska/tyska för att visa mina språkkunskaper. </li>
    <li style=""> Lägga till ex-jobb </li>
    <li style=""> Ändra font fråga Jess </li>
    <li style="">  </li>
</ul>

<style>
    li {
        font-size: 1.3em;
    }

    body {
        margin-bottom: 550px;
    }
    @media screen and (max-width: 980px) {
        body {
            margin-bottom: 570px;
        }
    }

</style>

<style>
    .rainbow {
        width: 10rem;
        background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>



</body>

{% endblock %}
