{% extends "base.html" %}

{% block base %}

<h1 style="text-align:center; font-size: 3em"> Chatbot </h1>

<div class="bg">
    <div style="text-align: center;">
        <h2 class="rainbow"> TBD! COMING SOON ... </h2>
    </div>
<div>

<style>
    .rainbow {
        background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5em;
    }
</style>


{% endblock %}
