{% extends "base.html" %}

{% block base %}

<body>

{% comment %}
This is some dummy text to preview the styling and stuff
{% endcomment %}

<h1 style="margin-bottom: 40px;">Anton Carlsson - (This is a dummy page with inaccurate info)</h1>

<h2>Software Engineer / Quality Assurance / Student</h2>

<p>Hello and welcome to my resume website! I am a software engineer with over 4 years of experience in the industry. I have a strong background in web and application development using a variety of technologies, including Java, Python, and JavaScript. I am proficient in problem solving and have a track record of delivering high quality, reliable software on time and within budget.</p>

<h3>Skills</h3>
<div style="margin-bottom: -10px; margin-left: 35px;">
    OSX  /  WINDOWS  /  LINUX
</div>
<div style="display: flex; flex-direction: row; align-items: center;">
    <div style="margin-right: 50px;">
        <ul>
            <li>Git</li>
            <li>Java</li>
            <li>Python</li>
            <li>JavaScript</li>
            <li>HTML/CSS</li>
        </ul>
    </div>
    <div>
            <li>SQL</li>
            <li>VIM</li>
            <li><object data="./latex/t.html"><SPAN CLASS="logo,LaTeX">L<SUP><SMALL>A</SMALL></SUP>T<SMALL>E</SMALL>X</SPAN></object></li>
            <li>Shell Scripts</li>
            <li>Matlab & Maple</li>
    </div>
</div>

<h3>Education</h3>
<h4>Masters's Degree in Engineering Physics</h4>
<p>Lund University, LTH</p>

<h3>Experience</h3>
<h4>Software Engineer & Test Engineer</h4>
<p>Axis Corporation</p>
<p>June 2019 - Present</p>
<ul>
  <li>Developed and maintained web and applications using Python with Django, JavaScript and HTML.</li>
  <li>Collaborated with cross-functional teams to deliver high quality software on time and within budget.</li>
  <li>Implemented automated testing and deployment processes to improve reliability and efficiency.</li>
</ul>

<style>
    .latex {
        font-family: "LaTeX";
    }
</style>

{% comment %}
Delete from last comment to here (end of dummy content)
{% endcomment %}

</body>

{% endblock %}
